body {
    background: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container .zuun_Tal {
    position: relative;
    background: rgb(3, 3, 99);
    padding: 40px;
}

.container .baruun_Tal {
    position: relative;
    background: white;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px solid gray;
    flex-direction: column;
}

.profileText .zurag {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .zurag img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.profileText h2 {
    color: white;
    margin-top: 17px;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

.profileText h2 span {
    font-size: 0.8em;
}

.contactuud {
    padding-top: 20px;
}

.title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactuud ul {
    position: relative;
}

.contactuud ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.contactuud ul li span {
    color: white;
}

.education ul li {
    list-style: none;
}
.education li {
    margin-bottom: 13px;
}

.education h5 {
    color: aquamarine;
}

.education h4 {
    color: white;
}

.about {
    margin-bottom: 40px;
}

.title2 {
    color: rgb(10, 68, 143);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 9px;
}

