body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile {
    position: relative;
    background: rgb(3, 3, 99, .7);
    padding: 30px;
    border-radius: 25px;
}

.info {
    position: relative;
    background: rgb(255, 255, 255, .7);
    padding: 30px;
    border-radius: 25px;
}

/* profile хэсгийн css */

.title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* profileText class-н css */
.profileText {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

.profileText h2 {
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

.profileText h3 {
    color: white;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.propic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
/* contact class-н css */
.contact {
    padding-top: 15px;
}

.contact ul li {
    color: white;
    list-style: none;
}
/* education class-н css */
.education ul li {
    list-style: none;
}
.education li {
    margin-bottom: 13px;
}

.education h5 {
    color: aquamarine;
}

.education h4 {
    color: white;
}

/* info хэсгийн css */

.title2 {
    color: rgb(10, 68, 143);
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 40px;
    margin-left: 40px;
}

/* introduction class-н css */
.introduction {
    margin-bottom: 50px;
}
.introduction p {
    font-size: 1.3em;
    text-align: justify;
}
/* experience class-н css */
.box {
    display: flex;
    flex-direction: row;
    margin: 19px 0;
}
h5 {
    text-transform: uppercase;
    color: rgb(117, 117, 117);
}
.text h4{   
    text-transform: uppercase;
    color: rgb(0, 78, 167);
    font-size: 16px;
}
.year {
    min-width: 150px;
}

.box p {
    font-size: 20px;
    text-align: justify;
}